@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background: #0D0D0D;
    color: white;
    font-family: Lexend Deca, sans-serif;
}

p {
    font-weight: 300;
}

.pages-container {
    display: flex;
    flex-direction: column;
}

.window-render-background {
    z-index: -10;
    opacity: 0.3;
    position: fixed;
    left: 0;
    top: 0;
    background: url("res/window_render.png") bottom right no-repeat black;
    width: 100%;
    height: 100vh;
}

.page {
    height: 98.5vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.header-opaque {
    background: #00000044;
    backdrop-filter: blur(1px);
    border-bottom: 1px #3C3C3CBB solid;
    transition: 0.5s;
    transition-property: background-color;
}

.header {
    z-index: 10;
    position: fixed;
    width: calc(100% - 20px);
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    left: 0;
    right: 0;
    top: 0;
    transition: 0.5s;
    transition-property: background-color;
}

.main-logo {
    height: 30px;
}

.spacer {
    flex: 1;
}

.btn-primary {
    background: #006035;
    border: 1px solid #008F58;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-family: Lexend Deca, sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s;
    transition-property: transform, background-color;
    display: flex;
    gap: 5px;
}

.btn-primary:hover {
    background: #008F58;
    transition: 0.2s;
    transition-property: transform, background-color;
}

.btn-primary:active {
    transform: scale(0.95);
    transition: 0.2s;
    transition-property: transform, background-color;
}

.btn-secondary {
    background: #232323;
    border: 1px solid #3C3C3C;
    padding: 10px 20px;
    border-radius: 3px;
    color: white;
    font-family: Lexend Deca, sans-serif;
    font-weight: 300;
    cursor: pointer;
    transition: 0.2s;
    transition-property: transform, background-color;
    display: flex;
    gap: 5px;
}

.btn-secondary:hover {
    background: #3C3C3C;
    transition: 0.2s;
    transition-property: transform, background-color;
}

.btn-secondary:active {
    transform: scale(0.95);
    transition: 0.2s;
    transition-property: transform, background-color;
}

.btn-right {
    margin-right: 25px;
}

.bkg-main {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.center-icon-text {
    background: url("res/background_main.png") no-repeat center;
    background-size: 500px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 5px;

    width: 100%;
    height: 100%;
}

.icon-platforms {
    background: url("res/background_platforms.svg") no-repeat center;
}

.icon-osi {
    background: url("res/background_opensource.svg") no-repeat center;
}

.center-title-text {
    background-size: 500px;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    gap: 5px;

    width: 100%;
}

.desc-text p {
    height: 10px;
}

.title-text h1 {
    height: 20px;
}

.center-text {
    text-align: center;
}

.slim-text {
    font-weight: 400;
    height: 5px;
}

.slim-text > b {
    font-weight: 600;
}

.semitransparent-panel {
    background: #00000088;
    border-radius: 10px;
    border: 1px solid #282828;
    backdrop-filter: blur(2px);
}

.version-box {
    height: 70px;
    width: 450px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.version-box p {
    height: 5px;
}

.version-dl-button {
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#version-text, #version-text-bottom {
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #0D0D0D; /* or add it to the track */
}

::-webkit-scrollbar-thumb {
    background: #555555;
    border-radius: 2px;
}

.screenshot {
    height: 300px;
    padding-right: 50px;
    filter: saturate(0.1);
    opacity: 0.75;
    transition-property: filter, transform;
    transform: scale(1);
    transition: 0.2s;
}

.screenshot:hover {
    filter: saturate(1);
    opacity: 1;
    transition-property: filter, transform;
    transition: 0.2s;
}

.screenshot-carousel-scroller {
    display: flex;
    animation: carousel-animation 20s infinite;
    width: fit-content;
}

.screenshot-carousel {
    overflow: hidden;
    width: calc(500px * 3);
    padding-bottom: 10px;
}

.text-paragraph {
    margin-bottom: 30px;
}

.text-paragraph p {
    line-height: 5px;
}

.icon-gpl {
    margin-top: 10px;
    animation: breath-and-rotate 10s infinite linear;
}

@keyframes breath-and-rotate {
    0% {
        opacity: 0.75;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}

@keyframes carousel-animation {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}